
<div class="container p-2">
    <div class="row pt-4">
        <div class="col-6">
            <h3>Product List</h3>
        </div>
        <div class="col-6 text-end ">
            <a class="btn btn-primary " asp-controller="Product" asp-action="Upsert">
                <i class="bi bi-person-plus-fill"></i> &nbsp; Create New Product
            </a>
        </div>
    </div>
    <br>
    <table id="tbData" class="table table-bordered   table-striped " style="width:100%">
        <thead>
            <tr>
                <th style="text-align: center"> Title </th>
                <th style="text-align: center"> ISBN </th>
                <th style="text-align: center"> Price </th>
                <th style="text-align: center"> Author </th>
                <th style="text-align: center"> Category </th>
                <th style="text-align: center"> CoverType </th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
<script src="~/js/product.js"></script>
}