@model CoverType


<form method="post">

    <div class="border p-2  mt-5">
        <div class="row pb-2">
            <h2 class="text-black"> <i class="bi bi-person-plus-fill"></i> &nbsp; Delete CoverType</h2>
            <hr />
        </div>

        <div class=" mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" disabled />
        </div>

       
        <div class="text-end">
            <button type="submit" class="btn btn-danger" style="width:100px">Delete </button>
            <a asp-controller="CoverType" asp-action="Index" class="btn btn-warning" style="width:200px">Back to List</a>
        </div>
    </div>

</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }


